html, body {
  height: 100%;
  margin: 0;
  background-color: #666666;
}

* {
  font-family: Helvetica, sans-serif;
  color: white;
}

input[type=number] {
  color: black;
}

button {
  color: black;
}

#main {
  height: 100%;
}

.main-canvas {
  height: 100%;
  width: 100%;
}

.settings-screen {
  height: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.settings-screen > .title {
  display: flex;
  justify-content: center;
}

.settings-group {
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.settings-group > label {
  display: flex;
  width: 100px;
}

.settings-group > input {
  display: flex;
}

.settings-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}